

{% extends "index.html" %}
{% block content %}
<h4 style="color: #d06554">Kết quả dự báo bằng phương pháp {{methodd}}</h4>
    <br>
    <h5><center>Kết quả dự báo cho sản phẩm {{ name1 }} tại {{ name2 }}</center> </h5>
    <br>
<div class="table-responsive">
    <table border="2" >
 		<thead>
        <th style="background-color: #7ac1ff">Tuần</th>
            {% for post in posts %}
 			<th scope="row" style="background-color: #7ac1ff">{{ post }}</th>
            {% endfor %}
        </thead>
        <thead>
          <th>Số lượng</th>
            {% for post in posts.values() %}
 			<th scope="row">{{ post }}</th>
            {% endfor %}
        </thead>



<!--        {% for post in posts %}-->
<!-- 			<tr>-->
<!--				<td>{{ post[0] }}</td>-->
<!--				<td>{{ post[1] }}</td>-->

<!--			</tr>-->
<!--         {% endfor %}-->
		</tbody>
    </table>
    </div>
  <br>
    <p>&emsp;Dưới đây là biểu đồ thể hiện sự chênh lệch giữa thực tế và dự báo : (số liệu từ tuần 2-52)<br>
    &emsp;- Đường màu xanh là doanh số bán hàng thực tế<br>
    &emsp;- Đường màu đỏ là doanh số dự báo<br>
	&emsp;Qua đây thấy được số liệu cụ thể, sai số của dự báo này đối với doanh số thực tế: (lấy giá trị thực – giá trị dự báo)<br>
	&emsp;+ Thừa: {{ neg }} chiếc<br>
      &emsp;+ Thiếu: {{ pos }} chiếc<br>
    </p>
    {% if fileImg %}
    <center><a class="navbar-brand" href="" >
        <img src="{{ fileImg }}" alt="ĐHQGHN" >
                            </a></center>
    {% endif %}


{% endblock %}